<div ng-show="loggedIn">
<div id="listName">
  <h1>{{listName}}</h1>
</div>

<ul class="unstyled">
  <li ng-repeat="item in list | orderBy: 'id'">
    <input type="checkbox" ng-model="item.done" ng-click="updateItem(item)"> 
    <span class="done-{{item.done}}">{{item.body}}</span>
    <a href="#" class="deleteLink" ng-click="removeItem(item)">delete</a>
  </li>
</ul>
<form ng-submit="addItem()" accept-charset="utf-8">
  <input type="text" id="newItemInput" ng-model="newItemBody" placeholder="Add new item">
  <input type="submit" value="Add">
</form>
</div>
<div ng-hide="loggedIn">
  Please log in.
</div>
